/* Import the Roboto font */
@import url( "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" );

/* Import Tailwind features */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Roboto font on all text */
* {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}

/* Light gray background color */
body {
	background-color: #f2f2f2;
}
